<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="kr3r540">
    
    <gazebo reference="base_link">
        <material>Gazebo/Grey</material>
    </gazebo>

    <gazebo reference="link_1">
         <material>Gazebo/White</material>
    </gazebo>

    <gazebo reference="link_2">
         <material>Gazebo/White</material>
    </gazebo>

    <gazebo reference="link_3">
         <material>Gazebo/White</material>
    </gazebo>
    
     <gazebo reference="link_4">
         <material>Gazebo/White</material>
    </gazebo>
    
    <gazebo reference="link_5">
         <material>Gazebo/White</material>
    </gazebo>

    <gazebo reference="link_6">
        <material>Gazebo/White</material>
    </gazebo>
    
     <gazebo reference="greifer">
         <material>Gazebo/DarkGrey</material>
    </gazebo>
                
</robot>    
